{% macro footer() %}
<div id="footer" class="bg-light">
    
    <div class="container">
        <div class="d-flex">
            <div>
                &copy; Copyright 2022 by <a href="musicalmunchkins.com">Musical Munchkins</a>.
            </div>
            
            <div>
                Musical Munchkins
                40 Archer Ave
                White Plains, NY 10603
                Office Hours: Monday to Friday, 9:00am - 1:00pm
            </div>
            
            <div>
                Have Questions? Call or text: 914-771-7000
                or email us: info@musicalmunchkins.com
                <br>
                Call or text any time! 
                We will respond within 24 hours.
            </div>
        </div>
    </div>
</div>




{% endmacro %}