{%- extends "base.html" -%}

{% block title%}About Us{% endblock %}

{% block content %}

<!-- List of teachers on staff -->
<div class="container">

    <h1 class = "text-primary">Our Teachers</h1>
    
    {% for x in staff_list %}
    <div class="m-5">
        <div class="staff-member">
            <h2 class="text-dark">{{staff_list[x]['first_name']}} {{staff_list[x]['last_name']}}</h2>
            <h3 class="text-secondary">{{staff_list[x]['position']}}</h3>
            <img src="{{staff_list[x]['img_url']}}" alt="{{staff_list[x]['first_name']}}{{staff_list[x]['last_name']}}">
            <p>{{staff_list[x]['bio']}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}





