{%- extends "base.html" -%}

{% block title%}Our Classes{% endblock %}

{% block content %}

<!-- List of teachers on staff -->
<div class="container">
    <h1>Covid-19 Safety Protocols</h1>

    COVID-19 Safety Protocols
    
    Vaccination and masking are optional at all locations. We will continue to evaluate our protocol depending on the current situation and the requirements of the sites where we teach. Teachers will distribute clean instruments and props in class. Each family should bring their own slip resistant mat or yoga mat to class to help with social distancing. Our goal is to create a safe place for adults and most importantly for children, so fun and learning can be our focus! 
    
    Vaccination Status
    Vaccination is not required for any of our classes.

    Mask Mandates
    We have lifted our mask mandates in all locations except for the YWCA where they still have mask mandates in place until their youngest patrons can get vaccinations. You are not required to wear a mask and neither are your children. You are welcome to wear one if you wish.

    Social Distancing
    We will still be distancing from each other, so do bring an individual mat to sit on so that you can distance yourselfto your comfort level.

    Equipment Cleaning
    Please note, our teachers will be cleaning all equipment with 70% rubbing alcohol after use. Please do not allow your child to “retake” equipment until it is clean and dry.

    Before Coming
    Please bring:
    Each family must bring their own non-slip mat to sit on.

</div>

{% endblock %}