{%- extends "base.html" -%}

{%- block content -%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        
        <h1 class="display-4">Celebrating 40 years of making music and memories!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">View Schedule</a>
          <a class="btn btn-primary btn-lg" href="#" role="button">Free Demo Class</a>
        </p>
    </div>
  </div>

<div class="container">

    <div class="section">
        <h2 class="text-secondary">
            Welcome!
        </h2>

        <img src="https://imagedelivery.net/7urfTiC8XtiqnXYk5tfRRg/cce2cb43-c2c1-4a42-5b99-e11e8efc3400/public" alt="Eileen Oddo with Musical Munchkins students">

        <p>
            As creator and director of Musical Munchkins, it remains my great pleasure to witness how our curriculum gently builds skills, connecting children with fun learning and fundamentals of joyful music with the help of our teachers. Welcome if you are new and welcome back to our budding musicians!
        </p>

        <p>
            Eileen Oddo
        </p>

        <p>
            <em>
                Director, Musical Munchkins of Westchester
            </em>
        </p>

    </div>

    <div class="section">
        <h2 class="secondary">Parents Are Talking</h2>

        <blockquote class="blockquote">    
            “Musical munchkins is the best music program in this area for babies and toddlers by far. The children learn so much—following a beat, following directions, and social interactions including cooperating during clean up. I find it to be much more educational and structured than some of the other programs in the area that seem to just have a lot of noise and movement. It has been a must for all three of my kids!”
        </blockquote>
        <footer class="blockquote-footer">Alison Solano (Parent)</footer>
    
        <blockquote class="blockquote">    
            “My 16-month-old daughter loves Musical Munchkins (she has been in class since 5 months old). It is her favorite class out of all her activities (which have included other music classes in the past). Ms. Rachel is a wonderful teacher, and always gets the whole class engaged and smiling. I would highly recommend Musical Munchkins to anyone with babies and young children.”
        </blockquote>
        <footer class="blockquote-footer"> Jessica Levy Carullo (Parent)</footer>
        
        <blockquote class="blockquote">    
            My Musical Munchkins “graduates” are now 7 & 4 years old. They still sing the songs they learned in class. Munchkins successfully turned them on to music and provided a positive and fun learning environment during their early years!
        </blockquote>
        <footer class="blockquote-footer">Jason Klein (Parent)</footer>
    
    
    </div>


    
</div>

{%- endblock -%}