{%- extends "base.html" -%}

{% block title%}Our Classes{% endblock %}

{% block content %}

<!-- List of teachers on staff -->
<div class="container">
    <h1>Locations</h1>

    <img src="https://imagedelivery.net/7urfTiC8XtiqnXYk5tfRRg/72d83630-5b4a-4f56-934d-c349f74a0a00/public" alt="Parents with children participating in virtual classes. The caption says 'Screen time is we time.'">
    <br>
    
    Virtual classes are being offered beginning in November. Registration is now open (through Musical Munchkins of New Jersey). View the schedule here.
    
    Live classes will resume in the Fall at the following locations:

    <ul>
        <li>
            Armonk - North Castle Recreation Center
        </li>
        
        <li>
            Bedford - Bedford Parks and Recreation Department
        </li>
        
        <li>
            New Rochelle - Young Israel Temple
        </li>
        
        <li>
            Pleasantville - Emanuel Lutheran Church
        </li>
        
        <li>
            Scarsdale - Central Park Dance Center
        </li>
        
        <li>
            Tuckahoe - Asbury Church
        </li>
        
        <li>
            White Plains - Music Conservatory of Westchester
        </li>
        
        <li>
            White Plains - YWCA North Street
        </li>
        
    </ul>
    
    










    
</div>

{% endblock %}