{%- extends "base.html" -%}

{% block title%}Our Classes{% endblock %}

{% block content %}

<!-- List of teachers on staff -->
<div class="container">
    <h1>Our classes</h1>

    <p>
        Our classes include singing, chanting, playing instruments and dancing along with musical stories, books and assorted props to encourage active participation. Our little musicians are exposed to many music styles; beloved standards, international, American heritage and more! Classes meet once weekly for 45 minutes.
    </p>

    <p>
        Classes are age specific, allowing us to meet and nurture each age groups development and capabilities: Babies curriculum, Music For 1’s, Music for 2’s, Music for 3’s/4’s 
    </p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/z5yeOJgjF78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</div>

{% endblock %}