{%- extends "base.html" -%}

{% block title%}Our Classes{% endblock %}

{% block content %}

<!-- List of teachers on staff -->
<div class="container">
    <h1>Register</h1>

    <p><strong>Registration</strong>: Spaces are reserved upon receipt of your registration form in the office. You'll receive confirmation for your class, after we receive your paid registration.<br />
        <br />
        <strong>Refunds</strong>: Once your child&#39;s space is reserved no refunds can be given. Class credit can be obtained prior to start date with written notification.<br />
        <br />
        <strong>Class Cancellation:</strong> Classes may be cancelled due to inclement weather. At 7:30am the office message and our website will reflect our decision. If schools in your area are closed we usually will close as well.<br />
        <br />
        <strong>Make-up</strong>: If you miss one of your weekly classes you may call to arrange another class on a different day. Please understand that our class sizes are limited therefore we can only allow up to 2 make-ups.<br />
        <br />
        <strong>Returned Check</strong>: There is a $10.00 fee for returned checks.<br />
        <br />
        <strong>Please note</strong>: It is possible that your check may not be cashed until the first week of your session.<br />
        <br />
        <strong>Visitors</strong>: Call in advance if you wish to bring a visitor to class.</p>

    <script type='text/javascript' charset='utf-8'>if(typeof mssIdx==='undefined')mssIdx=0;mssIdx++;document.write("<div id='_embed_container_3388_5496_"+mssIdx+"'><"+"/div>");document.write("<script async type='text/javascript' src='https://app.mainstreetsites.com/EmbeddedComponentLoader.js?dmn=3388&cvt=5496&stk=04L5I7QZXZ&idx="+mssIdx+"' charset='utf-8'></" + "script>");
    </script>
    
</div>

{% endblock %}