{%- extends "base.html" -%}

{% block title%}Our Classes{% endblock %}

{% block content %}

<!-- List of teachers on staff -->
<div class="container">
    <h1>Schedule</h1>

    <!-- <script type='text/javascript' charset='utf-8'>if(typeof mssIdx==='undefined')mssIdx=0;mssIdx++;document.write("<div id='_embed_container_3388_5495_"+mssIdx+"'><"+"/div>");document.write("<script async type='text/javascript' src='https://app.mainstreetsites.com/EmbeddedComponentLoader.js?dmn=3388&cvt=5495&stk=-07N2HTFUYF&idx="+mssIdx+"' charset='utf-8'></" + "script>");
    </script> -->
    
    <script type='text/javascript' charset='utf-8'>if(typeof mssIdx==='undefined')mssIdx=0;mssIdx++;document.write("<div id='_embed_container_3388_5495_"+mssIdx+"'><"+"/div>");document.write("<script async type='text/javascript' src='https://app.mainstreetsites.com/EmbeddedComponentLoader.js?dmn=3388&cvt=5495&stk=-07N2HTFVP9&idx="+mssIdx+"' charset='utf-8'></" + "script>");
    </script>


</div>

{% endblock %}